<h2>add a dog form</h2>

<form method="POST" action="/owner/add-a-dog">

  <label>Name</label>
  <input type="text" name="name" placeholder="Enter dog's name">

  <br>

  <label>Breed</label>
  <input type="text" name="breed" placeholder="Enter dog's breed">

  <br>

  <label>Size</label>
  {{!-- <input type="text" name="size" placeholder="Enter dog's size">   --}}
  <select name="size" id="doggoSize">
    <option value="Small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
    <option value="More To Love">More To Love</option>
  </select>

  <br>

  <label>Age</label>
  <input type="text" name="age" placeholder="Enter dog's age">

  <br>

  <label>Gender</label>
  {{!-- <input type="text" name="gender" placeholder="Enter dog's gender"> --}}
  <select name="gender" id="doggoGender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="N/A">N/A</option>
  </select>

  <br>

  <label>Description</label>
  <br>
  <input type="text" name="description" placeholder="Enter description">

  <br>

  <label>City</label>
  <br>
  <input type="text" name="city" placeholder="Enter city dog is located in">

  <input type="checkbox" name="foster" value="true">Foster
  <input type="checkbox" name="walkies" value="true">Walkies

  <br>
  <input type="hidden" name="myOwner" value={}>

  <button type="submit">Add a dog!</button>

</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}