<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
<a href="/owner" class="btn btn-secondary" id="transparent-btn">Back to dashboard ◀ </a>

<hr>

<h1>Add a dog </h1>
<p class="copy"> Fill some information about your dog for volunteers to find it.
</p>

{{!-- /////----Image---/// --}}

{{#if imagePath}}
<div class="load-image">
  <img class="image" src="{{imagePath}}" alt="Doggo image">
</div>
{{else}}

<form method="POST" action="/upload" enctype="multipart/form-data">
  <input type="file" name="imageUrl">
  <button type="submit" class="btn btn-secondary" id="transparent-btn">add an image</button>
</form>

{{/if}}

<form method="POST" action="/owner/add-a-dog" class="form-group">
  <input type="hidden" name="imageUrl" value="{{imagePath}}">

  <br>


  <label class="copy">Name</label>
  <input type="text" name="name" placeholder="Enter dog's name" class="form-control">

  <br>

  <label class="copy">Breed</label>
  <input type="text" name="breed" placeholder="Enter dog's breed" class="form-control">

  <br>

  <label class="copy">Size</label>
  <select name="size" id="doggoSize" class="form-control">
    <option value="Small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
    <option value="More To Love">More To Love</option>
  </select>

  <br>

  <label class="copy">Age</label>
  <input type="text" name="age" placeholder="Enter dog's age" class="form-control">

  <br>

  <label class="copy">Gender</label>
  <select name="gender" id="doggoGender" class="form-control">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="N/A">N/A</option>
  </select>

  <br>

  <label class="copy">Description</label>
  <br>
  <input type="text" name="description" placeholder="Enter description" class="form-control">

  <br>

  <label class="copy">City</label>
  <select name="city" class="form-control">
    <option value="Amsterdam">Amsterdam</option>
    <option value="Berlin">Berlin</option>
    <option value="Dublin">Dublin</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Lisbon">Lisbon</option>
    <option value="Ljubljana">Ljubljana</option>
    <option value="London">London</option>
    <option value="Madrid">Madrid</option>
    <option value="Paris">Paris</option>
    <option value="Prague">Prague</option>
    <option value="Rome">Rome</option>
    <option value="Stockholm">Stockholm</option>
    <option value="Vilnius">Vilnius</option>
  </select>

  <div class="checkbox">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="foster" value="true" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <p class="copy"> Foster </p>
      </label>


    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="walkies" value="true" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <p class="copy"> Walkies </p>
      </label>
    </div>

  </div>


  <br>

  <input type="hidden" name="myOwner" value={}>
  <button type="submit" class="btn btn-primary">Add a dog!</button>

</form>


{{#if errorMessage}}
<br>
<div class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
{{/if}}