<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
<a href="/owner" class="btn btn-secondary" id="transparent-btn"> Back to dashboard ◀ </a>

<hr>

<h1>Welcome to your messages' page</h1>

<h7>
  {{#each messageArr}}
  <hr>
  <a href="/owner/{{this.doggo._id}}/{{this._id}}/delete">
    <img class="icon-messanger" src="/images/delete_w.svg" alt="delete">
  </a>
  {{!-- <img class="icon-messanger" src="/images/message_w.svg" alt="message"> --}}

  <a class="inbox" href="/owner/{{this._id}}">  
    <img class="icon-messanger" src="/images/message_w.svg" alt="message">

  You got a message from {{this.volunteer.name}}
  </a>
  {{/each}}
  <hr>
</h7>