<h1>message from {{message.volunteer.name}}</h1>

{{#each message.body}}
<h5>
    {{this}}
</h5>
{{/each}}


<form method="POST" action="/owner/{{message.doggo._id}}/{{message._id}}">
  <textarea name="body"></textarea>
  <input type="submit" class="btn btn-primary" >
</form>