<h1>Welcome to dogGo</h1>

<div class="all-elements">
  <div>
<div class="text-block">
<p  class="copy">A digital meetpoint that aims to connect non-committal-dog-lovers dog owners that need help.
</p>
</div>



<div class="secondary-nav" >
<a href="/login" class="btn btn-primary">Login</a>
<a href="/landing-signup" class="btn btn-primary">Signup</a>
</div>

</div>

<div class="containerLanding">
<img id="landingImg"src="/images/undraw_dog_walking_0jpt.svg" alt="Dogwalk">

</div>

</div>
