<h1>Let's see, do you... </h1>

<p class="copy">
  ...have a dog (or dogs) and find yourself needing help? Be it via fostering or walks
</p>
<div class="secondary-nav">
  <a href="/signup/owner" class="btn btn-primary">Need help</a>
</div>

<hr class="hidden">

<p class="copy">
  ...find yourself unable to have a dog but miss being around one?
</p>

<div class="secondary-nav">
  <a href="/signup/volunteer" class="btn btn-primary">Offer help</a>
</div>


<div class="containerLanding">
  <img id="landingImg" src="/images/undraw_good_doggy_4wfq (1).svg" alt="Dogwalk">
</div>