<a href="/login" class="btn btn-secondary" id="transparent-btn">Login</a>
<hr>
<h1>Let's see, do you... </h1>

<hr class="hidden">
<div class="element-wrap"></div>
<div class="all-elements">
  <div>
    <div class="text-block">

      <div class="text-container">
        <p class="copy2">
          → have a dog (or dogs) and find yourself <span class="bold">needing help?</span> Be it via fostering or walks!
        </p>
        <div class="secondary-nav">
          <a href="/signup/owner" class="btn btn-primary">Need help</a>
        </div>
      </div>

    </div>

    <hr class="hidden">

    <div class="text-block">

      <div class="text-container">
        <p class="copy2">
          → find yourself <span class="bold">unable to have a dog</span> but miss being around one?
        </p>

        <div class="secondary-nav">
          <a href="/signup/volunteer" class="btn btn-primary">Offer help</a>
        </div>


      </div>
    </div>

  </div>
  <div class="containerLanding">
    <img id="landingImg" src="/images/undraw_good_doggy_4wfq (1).svg" alt="Dogwalk">
  </div>
</div>