<a href="/landing-signup" class="btn btn-secondary" id="signup">Signup</a>  
<hr>
<h1>Login</h1>
<p class="copy"> we are happy to see you're back!
</p>

<form method="POST" action="/login" class="form-group">
  <label class="copy">Email</label>
  <input type="text" name="email" placeholder="Enter your email" class="form-control">

  <br>

  <label class="copy">Password</label>
  <input type="password" name="password" placeholder="Enter your Password" class="form-control">

  <br>
  
  <button type="submit" class="btn btn-primary">Log in</button>


</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}