<h2>hello volunteer</h2>

<form method="POST" action="/signup">
  <input type="hidden" name="hoomanType" value="volunteer">

  <br>

  <label>Name</label>
  <input type="text" name="name" placeholder="Enter your name">

  <br>

  <label>City</label>
  <input type="text" name="city" placeholder="Enter your city">

  <br>

  <label>Email</label>
  <input type="`text" name="email" placeholder="Enter your email">

  <br>

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password">
  <p>Password requirements:</p>

  <br>

  <button type="submit">Sign Up</button>

</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}