<h1>Volunteer? </h1>
<p class="copy"> You are very welcome to fill this form:
</p>


<hr>


<form method="POST" action="/signup" class="form-group">
  <input type="hidden" name="hoomanType" value="volunteer">

  <br>

  <label class="copy">Name</label>
  <input type="text" name="name" placeholder="Enter your name" class="form-control">

  <br>

  <label class="copy">City</label>
  <select name="city" class="form-control">
    <option value="Amsterdam">Amsterdam</option>
    <option value="Berlin">Berlin</option>
    <option value="Bratislava">Bratislava</option>
    <option value="Dublin">Dublin</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Lisbon">Lisbon</option>
    <option value="London">London</option>
    <option value="Madrid">Madrid</option>
    <option value="Paris">Paris</option>
    <option value="Prague">Prague</option>
    <option value="Rome">Rome</option>
    <option value="Stockholm">Stockholm</option>
    <option value="Vilnius">Vilnius</option>
  </select>

  <br>

  <label class="copy">Email</label>
  <input type="`text" name="email" placeholder="Enter your email" class="form-control">

  <br>

  <label class="copy">Password</label>
  <input type="password" name="password" placeholder="Enter your Password" class="form-control">
  <p class="copy">Password requirements:</p>

  <br>

  <button type="submit" class="btn btn-primary">Sign Up</button>

</form>


{{#if errorMessage}}
<br>
<div class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
{{/if}}