<h1>Oh, hey owner!</h1>
<p class="copy"> Fill this form and you will be able to get some help!
</p>


<hr>

<form method="POST" action="/signup" class="form-group">
<div class="secondary-nav">
  <div class="radio">
       <input type="radio" name="hoomanType" value="private" checked="checked" > <p class="copy" class="radio">Individual</p> 
  </div>
 <div class="radio">
     <input type="radio" name="hoomanType" value="org"><p class="copy" >Organisation</p> 
 </div>

</div>

  <br>

  <label class="copy">Name</label>
  <input type="text" name="name" placeholder="Enter your name" class="form-control">

  <br>

  <label class="copy">Email</label>
  <input type="`text" name="email" placeholder="Enter your email" class="form-control">

  <br>

  <label class="copy">Password</label>
  <input type="password" name="password" placeholder="Enter your Password" class="form-control">
   <hr class="hidden">
  <p class="copy3"> → The password should contain at least one capital and one lower case letter, at least one number and special character. The password has to be between 8 and 15 characters.</p>

  <br>

  <button type="submit" class="btn btn-primary" >Sign Up</button>
 <hr class="hidden">
  <p class="copy">Lost? Let's start again!</p>
  <a href="/" class="btn btn-secondary" id="transparent-btn">Home</a>


</form>


{{#if errorMessage}}
<br>
<div class="alert alert-danger" role="alert">
{{errorMessage}}
</div>
{{/if}}
