///-----layout---////

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #53d2dc;
}


.container {
  padding-top: 50px;
}

.containerLanding {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}




#landingImg{
 width: 50%;
 position: relative;
}

#landingImg2{
  width: 50%;
  position: relative;
  margin-left: 10%;
  margin-bottom: 50%;
 }

.form-group{
  width: 50%;

}

.profile-card {
  display: flex;
  flex-direction: row;
}
///-----text---////
h1{
  color: white;
}

.copy{
  color: white;
}


///----- graphic elements---////
hr {
  color: white;
  background-color: white;
}



///---nav---///
.secondary-nav {
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  align-content: center;
  
}

.search-field {
  border: solid 1px grey;
  height: 30px;
  padding-left: 5px;
  margin: 10px;
}


///---search---///
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-items: baseline;
  align-items:baseline ;
}
.checkbox {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items:baseline ;
}


.checkbar {
  display: flex;
  flex-direction: row;
}

.form-check-input {
  align-items: center;
  align-content: center;
}

///-----buttons---////
.btn-primary{
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  margin:10px 10px 10px 0;
}

#transparent-btn {
  background-color: #53d2dc;
  border-color: white;
}

#transparent-btn-logout {
  background-color: white;
  border-color: #53d2dc;
  color: #53d2dc;
}


.badge{
  padding: 10px;
  background-color: #53d2dc;
}


///-----checkbox/ radio---////
.checkbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  margin-top: 20px; 
}

.form-check{
  margin-right: 10px;
}


.radio {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: center;
  align-content: space-around;
}



///-----cards---////

.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}

.card{
  margin: 5px;
  border-radius: 10px;
}

.icons-profile {
  display: flex;
  flex-direction: row; 
  justify-content: baseline; ;
}

.icon-card {
  width: 20px;
  margin-right: 10px;

}


.icon-card:hover {
  width: 30px;
}


.card-img-top {
  width:200px;
  height:200px;
  margin-top: 25px ;
  overflow: hidden;
  border-radius:50%;
  position: relative;
  align-self: center;  
}

.image {
  display:block; /*remove inline-block spaces*/
  width:100%; /*make image stretch*/
  // margin:-50.875% 0;
}



.img-profile {
  height: 400px;  
}


//---- cursor----///

html, body { 
  cursor: url('/images/cursor.png'),
  default;
}


//----  Profile card----///


.card-text {
  padding-left: 30px;
}

.load-image {
  width:200px;
  height:200px;
  margin-top: 25px ;
  overflow: hidden;
  border-radius:50%;
  position: relative;
  align-self: center;  
}


.image {
  display:block; /*remove inline-block spaces*/
  width:100%; /*make image stretch*/
  // margin:-50.875% 0;
}


//----  Messanger----///

.box1 {
  width: 700px;
  margin: 20px auto;
  background: #ffde7d;
  padding: 20px;
  // text-align: center;
  font-weight: 900;
  color: black;
  font-family: arial;
  position: relative;
}


.box2 {
  width: 700px;
  margin: 20px auto;
  background: #f8f3d4;
  padding: 20px;
  // text-align: center;
  font-weight: 900;
  color: black;
  font-family: arial;
  position: relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #ffde7d;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffde7d;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}


.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #f8f3d4;
  border-top: 10px solid #f8f3d4;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}



.messanger {
  position: absolute;
}

.messanger-body {
  border: solid 1px grey;
  border-radius: 5px;
  width: 400px;
  height: 200px;
}



.icon-messanger {
  width: 40px;
  margin-right: 10px;

}


h7 {
  color: white;
  font-size: 1rem;
}