///-----layout---////

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #53d2dc;
  padding-bottom: 10%;
}


.container {
  padding-top: 50px;
}

.containerLanding {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.text-block {
  width: 80%;
}

.all-elements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: baseline;
}


.element-wrap{
  display: flex;
  flex-wrap: wrap;
}

#landingImg{
 width: 70%;
 position: relative;
 padding-left: 30%;
 padding-bottom: 10%;
}

#landingImg2{
  width: 100%;
  position: relative;
  // position: absolute;
  // margin-left: 10%;
  // margin-bottom: 50%;
  // z-index: -1;
 }

.form-group{
  width: 50%;

}


.profile-card {
  display: flex;
  flex-direction: row;
}
///-----text---////
h1{
  color: white;
}

.copy{
  color: white;
}

.copy2 {
  color: white;
  font-size: 1,5rem;
  font-kerning: auto;
  // text-indent: 1rem;
  line-height: 1,5rem;
}

.copy3 {
  color: white;
  font-style: oblique;
}

.bold {
  font-weight: bold;
}



///----- graphic elements---////
hr {
  color: white;
  background-color: white;
}



///---nav---///
.secondary-nav {
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  align-content: center;
  
}

.search-field {
  border: solid 1px grey;
  height: 30px;
  padding-left: 5px;
  margin: 10px;
}


///---search---///
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-items: baseline;
  align-items:baseline ;
}

.checkbox {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items:baseline ;
}


.checkbar {
  display: flex;
  flex-direction: row;
}

.form-check-input {
  align-items: center;
  align-content: center;
}

.search-field {
  border: solid 1px  lightgrey;
  border-radius: 5px;
}
///-----buttons---////

.btn-primary{
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  margin:10px 10px 10px 0;
}

#transparent-btn {
  background-color: #53d2dc;
  border-color: white;
}

#transparent-btn-logout {
  background-color: white;
  border-color: #53d2dc;
  color: #53d2dc;
}


.badge{
  padding: 10px;
  background-color: #53d2dc;
}


///-----checkbox/ radio---////
.checkbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  margin-top: 20px; 
}

.form-check{
  margin-right: 10px;
}


.radio {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: center;
  align-content: space-around;
}



///-----cards---////

.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}

.card{
  margin: 5px;
  border-radius: 10px;
}

.icons-profile {
  display: flex;
  flex-direction: row; 
  justify-content: baseline; ;
}

.icon-card {
  width: 20px;
  margin-right: 10px;

}


.icon-card:hover {
  width: 30px;
}


.card-img-top {
  width:200px;
  height:200px;
  margin-top: 25px ;
  overflow: hidden;
  border-radius:50%;
  position: relative;
  align-self: center;  
}

.image {
  display:block; /*remove inline-block spaces*/
  width:100%; /*make image stretch*/
  // margin:-50.875% 0;
}



.img-profile {
  height: 400px;  
}


//---- cursor----///

html, body { 
  cursor: url('/images/cursor.png'),
  default;
}


//----  Profile card----///


.card-text {
  padding-left: 30px;
}


.dog-card-text {
  margin-left: 20px;
}

.load-image {
  width:200px;
  height:200px;
  margin-top: 25px ;
  overflow: hidden;
  border-radius:50%;
  position: relative;
  align-self: center;  
}


.image {
 height: 100%;
 object-fit: cover;
}

.profile-image {
  width:100%; 
  position: relative;
  margin-top: 25px ;
  overflow: hidden;
  position: relative;
  align-self: center; 

}



//----  Messanger----///

.box1 {
  width: 700px;
  margin: 20px auto;
  background: #ffde7d;
  padding: 20px;
  // text-align: center;
  font-weight: 900;
  color: black;
  font-family: arial;
  position: relative;
}


.box2 {
  width: 700px;
  margin: 20px auto;
  background: #f8f3d4;
  padding: 20px;
  // text-align: center;
  font-weight: 900;
  color: black;
  font-family: arial;
  position: relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #ffde7d;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffde7d;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}


.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #f8f3d4;
  border-top: 10px solid #f8f3d4;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}



.messanger {
  position: absolute;
}

.messanger-body {
  border: solid 1px grey;
  border-radius: 5px;
  width: 400px;
  height: 200px;
}



.icon-messanger {
  width: 40px;
  margin-right: 10px;

}


h7 {
  color: white;
  font-size: 1rem;
}

h5 {
  font-size: 1,5rem;
  line-height: 2rem;
}


.inbox {
  // color:#ffde7d;
  text-decoration: underline;
}
// ----hide elements----////

.hidden {
 visibility: hidden;
}


// ----footer----////
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffde7d;
  color: #26969e;
  text-align: center;
  padding-top: 5px;
  height: 5%;
}

.footer-text {
  padding-top: 5px;
}

.footer-link {
  text-decoration: underline;
  // color: #26969e;
  color: #f6416c;
  
}




// -------gadgets---///


.paw {
  width: 10px;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.paw-link {
  color: #ffde7d;
  font-weight: bold;
}