<h2>message to {{convo.doggo.name}}</h2>

{{#each convo.body}}
{{this}}
{{/each}}

<form method="POST" action="/volunteer/{{convo._id}}">
  <textarea name="body"></textarea>
  <input type="submit">
</form>