<a href="/logout" class="btn btn-secondary" id="transparent-btn">Logout</a>
<a href="/volunteer" class="btn btn-secondary" id="transparent-btn">Back to the dashboard</a>
<a href="/volunteer/{{convo.doggo._id}}/profile" class="btn btn-secondary" id="transparent-btn">Back to dog profile</a>
<hr>
<h1>Message {{convo.doggo.name}}</h1>
<hr>
<div class="messanger">
  {{#each convo.body}}
  <div class="box1 sb1">
    <h5>
      {{this}}
    </h5>
  </div>
  {{/each}}

  <form method="POST" action="/volunteer/{{convo._id}}">
    <textarea class="messanger-body" name="body"></textarea>
    <input type="submit" class="btn btn-primary">
  </form>

</div>
