<h1>Welcome to your dashboard, volunteer!</h1>
<p class="copy"> We are happy to see you again!
</p>

<hr>

<div class="secondary-nav">
<a href="/logout" class="btn btn-primary" >Logout</a>  
<a href="/volunteer/search" class="btn btn-primary" >Find a dog</a>
</div>


